# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.gitignore
refer/*
.ai/*
.opencode/*
refer
.ai
.opencode
.idea
.venv
/test
